@media all and (max-width: 768px) {
  header {
    display: none;
  }
}
.navbar-static-top {
  background: #FFF none repeat scroll 0% 0%;
  height: 56px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.container-fluid {
  display: block;
  max-width: 960px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-collapse {
  max-height: 340px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar-nav > li {
  float: left;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li a {
  margin: 0px 30px;
  color: #4E4E4E;
  padding: 20px 0px 10px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: bold;
}
.nav > li a:hover {
  border-bottom: 5px solid #D43F3A ;
  background: #fff;
}
.navbar-nav > li > a {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
}
.header-bg-alt {
  background-image: linear-gradient(-180deg, #f8f8ec 0%, #e2f6f9 100%);
  background-size: 1200px 950px;
  background-repeat: repeat;
  color: #4e4e4e;
  background-position: center;
  height: 950px;
}
.header {
  height: 950px;
  padding: 30px;
  overflow: hidden;
  position: relative;
}
.header-bg-image-alt {
  background-image: url(../img/city-fg-day.svg), url(../img/city-bg-day.svg);
  background-size: 1200px 950px;
  background-repeat: no-repeat, no-repeat;
  color: #4e4e4e;
  background-position-x: center;
  background-position-y: 70px;
  height: 950px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -55px;
  z-index: 0;
}
.pos-rel {
  position: relative;
}
.main.scss:166 .container-fluid {
  display: block;
  max-width: 960px;
}
.bootstrap.min.css:5 .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-headline {
  text-align: center;
  max-width: 620px;
  margin: 50px auto;
}
h1 {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4.25em;
}
h3 {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
}
.mb2 {
  margin-bottom: 2em;
}
.main.scss:103 .lead {
  font-size: 1.3em;
  opacity: 0.6;
  margin-top: 1.25em;
  line-height: 1.75em;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-weight: 100;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
.card {
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 3rem;
  background: white;
}
p {
  font-size: 1em;
  color: #888888;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
}
.form-control {
  display: block;
}
.mb1\.25 {
  margin-bottom: 1.25em;
}
.bootstrap.min.css:5 .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-lg {
  padding: 15px 34px;
}
.btn:hover {
  background-color: #E57D69;
}
.btn-primary {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  border: 2px solid #772515;
  background: #E57D69;
  text-shadow: none;
  font-size: 1.125em;
}
.form-control {
  width: 100%;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
section {
  padding: 60px 0;
  border-bottom: 2px solid rgba(86, 72, 70, 0.3);
  display: block;
}
.container-fluid {
  display: block;
  max-width: 960px;
}
.bootstrap.min.css:5 .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #4e4e4e;
  font-size: 2.25em;
  margin-bottom: 20px;
  margin-top: 20px;
}
h2:after {
  width: 100px;
  margin-top: 0.45em;
  margin-left: 20px;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #E57D69;
}
.speakers {
  padding-top: 20px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
@media (max-width: 991px) {
  .speaker-item {
    text-align: center;
  }
}
.speaker-item {
  margin: 20px 0;
}
@media (max-width: 991px) {
  .speaker-item img {
    max-width: 300px;
  }
}
@media (max-width: 991px) {
  .illustration-activities {
    max-width: 500px;
  }
}
.speaker-img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
h4 {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #E57D69;
  font-size: 1.5em;
}
h4 a {
  color: #E57D69;
  text-decoration: none;
}
h4 a:hover {
  color: #E57D69;
}
h5 {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
#activities,
#sponsors {
  background: #f9f9f9;
}
section {
  padding: 60px 0;
  border-bottom: 2px solid rgba(86, 72, 70, 0.3);
}
.container-fluid {
  display: block;
  max-width: 960px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #4e4e4e;
  font-size: 2.25em;
  margin-bottom: 20px;
  margin-top: 20px;
}
.title-red {
  color: #E57D69;
}
svg {
  width: 460;
  height: 333;
}
h3 {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}
p {
  font-size: 1em;
  color: #888888;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0 0 10px;
}
.title-red {
  color: #E57D69;
}
#the-schedule {
  background: #E57D69;
}
.container-fluid {
  display: block;
  max-width: 960px;
}
.schedule-day {
  margin: 20px 0;
}
.day-schedule-title {
  border-bottom: 1px solid rgba(101, 62, 54, 0.3);
}
.schedule-list {
  padding-left: 0;
}
.schedule-list li {
  border-bottom: 1px solid rgba(101, 62, 54, 0.3);
  padding: 14px 0 11px 0;
}
#the-schedule h2:after {
  background-color: #4e4e4e;
}
h2:after {
  width: 100px;
  margin-top: 0.45em;
  margin-left: 20px;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #E57D69;
}
.schedule-list > li {
  position: relative;
  display: block;
  list-style: none;
}
.schedule-time {
  float: left;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.event-name {
  margin-left: 90px;
  display: block;
  font-style: normal;
  font-size: 18px;
}
.event-name {
  background-image: url(../img/schedule-event-dot.svg);
  padding-left: 40px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  #hotels .col-sm-4 {
    width: 33.33333333%;
  }
}
#hotels .hotel-description {
  margin: 20px 0;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}
#hotels .hotel-name {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 500;
}
#hotels .hotel-name a {
  color: #E57D69;
}
#hotels section {
  padding: 60px 0;
  border-bottom: 2px solid rgba(86, 72, 70, 0.3);
  display: block;
}
#hotels section p {
  font-size: 2em;
  color: #888888;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
}
.footer {
  border-bottom: none;
  padding: 20px 0;
  background-color: #4e4e4e;
  display: block;
}
.footer .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer .legal {
  float: none;
  display: block;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
.footer .legal small {
  display: block;
  margin-bottom: 6px;
  font-size: 85%;
}
.footer .legal small a {
  color: #E57D69;
  text-decoration: none;
}
.footer a.credits {
  margin: 20px auto 0 auto;
  float: none;
  display: block;
}
.footer a.credits {
  border: 1px solid #ccc;
  width: 220px;
  font-size: 0.75em;
  text-align: center;
  padding: 10px 0;
}
.footer .schoger-logo {
  width: 32px;
  height: 32px;
  display: block;
  margin: 5px auto;
}
.footer p {
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  display: inline-block;
  color: #fff;
}
a.partner-logo-container {
  border: 1px solid #ccc;
  width: 100%;
  margin: 20px 0;
  display: block;
}
a.partner-logo-container:hover {
  border: 1px solid #E57D69;
}
.partner-logo {
  height: 60px;
  width: 220px;
  margin: 30px auto;
  display: block;
}
.partner-larajobs {
  background-image: url(../img/img/partner-larajobs.svg);
}
.partner-vehikl {
  background-image: url(../img/img/partner-vehikl.svg);
}
.partner-tighten {
  background-image: url(../img/img/partner-tighten.svg);
}
.partner-laracasts {
  background-image: url(../img/img/partner-laracasts.svg);
}
.partner-bugsnag {
  background-image: url(../img/img/partner-bugsnag.svg);
}
.partner-sentry {
  background-image: url(../img/img/partner-sentry.svg);
}
.partner-foster-made {
  background-image: url(../img/img/partner-nexmo.svg);
}
.partner-dinkbit {
  background-image: url(../img/img/partner-algolia.svg);
}
.partner-nexmo {
  background-image: url(../img/img/partner-sensiolabs.svg);
}
.partner-algolia {
  background-image: url(../img/img/partner-dinkbit.svg);
}
.partner-contest-kit {
  background-image: url(../img/img/partner-drn.png);
}
.partner-sensiolabs {
  background-image: url(../img/img/partner-sensiolabs.svg);
}
